@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
font-family: "Raleway", sans-serif; 
font-weight: 400;
font-style: normal;
width: 100%;
}

.HeroSection{
width: 100%;
height: 630px;
background-image: url(../img/bg-hero.jpg);
background-repeat: no-repeat;
background-size: cover;
padding: 5rem;   
margin: 0;
}

.Section > p {
width: 60%;
}

.fa-solid {
margin-bottom: 2rem;
}

.bg-grey{
background-color: #373A3C;
}

.MisTrabajos{
background-color: #17A2B8;
}

.btn-white {
border-color: #56C0E0;
color: #56C0E0
}

.card>img{
height: 300px;
}

.exampleInputEmail1{
margin-bottom: 2rem ;
}